asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
dateparser==1.0.0
Django==3.1.7
djangorestframework==3.12.2
humanize==3.2.0
idna==2.10
maya==0.6.1
pendulum==2.1.2
Pillow==8.1.0
python-dateutil==2.8.1
flake8-blind-except
flake8-builtins
flake8-logging-format
flake8-commas
flake8-print
pep8-naming
flake8-cognitive-complexity
flake8-expression-complexity
flake8-functions
flake8-variables-names
flake8-comprehensions
flake8-django
flake8-eradicate
pytz==2021.1
pytzdata==2020.1
regex==2020.11.13
requests==2.25.1
six==1.15.0
snaptime==0.2.4
sqlparse==0.4.1
tzlocal==2.1
urllib3==1.26.3
